#about-us,
#our-team,
#faq {
  padding: 3rem 0;
}

#our-team {
  width: 100%;
  background-color: #f1f1f1;
}

#our-team img {
  border-radius: 10px;
}

#our-team .card {
  background-color: transparent;
  box-shadow: none;
}

#our-team .card-name,  #our-team .card-name-title{
  text-align: center;
}

h5 {
	font-weight: 500;
	color: #535454;
	line-height: 1.5;
}

.title--tw{
	font-size: 1.5em;
	line-height: 1.5;

}

.contents--tw{
	font-size: 1.2em;
	line-height: 1.8;
}

.card-name{
font-size: 1.2em;
margin-bottom: 0 !important;
font-weight: 500;

}
.card-name-title{
margin-top: 0 !important;
height: 80px;
font-weight: 300;
color: #757575;
line-height: 1.5;
}