#feedback-nav {
  height: 100%;
  padding: 2%;
}

#feedback-modal {
  overflow: hidden;
}

#sensors-location-map {
  height: 700px;
  width: 100%;
}

#sensor-data-chart-container {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}

#map-container {
  position: relative;
}

#chart-close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

#contributor .card-title{
  font-size: 1em;
}

#join-project {
  background-color: #f7f7f7;
}