#feedback-modal {
  width: 60%;
}

/*Sections*/

.fullscreen{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  /*background-color: #333;*/
}

#background-1{
  background: url(../images/02_cover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#background-2{
  background: url(../images/02_give_feedback.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#image-1{
  background: url(../images/02_contribute_all.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 0;
}

#image-2{
  background: url(../images/02_contribute.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 0;
}

.banner .projects-input,
.banner .projects-textarea {
  border: 2px solid #26a69a !important;
  box-sizing: padding-box;
  transition: none;
}

.banner .projects-input:focus:not([readonly]),
.banner .projects-textarea:focus:not([readonly]) {
  border-bottom: 2px;
  box-shadow: unset;
}

.banner .projects-input {
  padding: 0 1rem;
}

.banner .projects-textarea {
  padding: 1rem;
  margin-top: 1rem;
  min-height: 4rem;
}

::-webkit-input-placeholder {
	color: #aaa;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa;
}