#feedback-nav {
  height: 100%;
  padding: 2%;
}

#feedback-modal {
  overflow: hidden;
}

#sensors-location-map {
  height: 750px;
  width: 100%;
}

#sensor-data-chart-container {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

#sensor-information {
  padding: 2em;
  /*background-color: #fff;*/
}

#sensor-information a {
  color: #87D9D1;
}

#sensor-information a:hover {
  color: #1CBCAD;
}

#sensor-information [data-status="low"] {
  color: green;
}

#sensor-information [data-status="moderate"] {
  color: yellow;
}

#sensor-information [data-status="high"] {
  color: red;
}

#sensor-information [data-status="extreme"] {
  color: purple;
}


#sensor-chart {
  padding: 2em;
}

#map-container {
  position: relative;
}

#chart-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  padding: 0px;
  box-shadow: none;
}

#chart-close-btn:hover{
  background-color: #20BBAD !important;
}

#contributor .card-title{
  font-size: 1em;
}

#join-project {
  background-color: #f7f7f7;
}

.project-info {
  text-align: right;
  color: #666;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.8;
  /*font-weight: 500;*/
}
