#sensor-location-map {
  height: 550px;
  margin-bottom: 40px;
}

#sensor-data-chart {
  width: 100%;
  height: 400px;
}

.sensor-info {
	font-size: 1.4em;
	margin-bottom: 0px;
}

#info-pm25-index[data-status="low"] {
  color: green;
}

#info-pm25-index[data-status="moderate"] {
  color: yellow;
}

#info-pm25-index[data-status="high"] {
  color: red;
}

#info-pm25-index[data-status="extreme"] {
  color: purple;
}

@media only screen and (min-width: 993px) {
	#sensor-data {
		padding-bottom: 265px;
	}
}